

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body{
	height: 100%;
}
body {
        padding-top: 51px;
    }
.carousel{
	height: 100%;
}
.item, .active, .carousel-inner{
	height: 100%
}
.fill{
	height: 100%;
	width:100%;
	background-position: center;
	background-size: cover;
}
.pst1
{
    position:absolute; 
    top: -250px; 
    width: 100%;
    max-width: 70%;
    height: auto;
    margin:auto;
    }
.logo{
    width: 40px;
    
    
}
.barra{background-color:#B40404;}
.jumbo{
    background-color: #B40404;
     width: 100%;
    
}

*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  font-family:arial;
}

.login-form{
  max-width: 400px;
  width:400px auto;
  padding:40px 30px;
  background:rgba(235,235,205,0.7);
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  margin: auto;
}
.form-group{
  position: relative;
  margin-bottom:15px;
}

.log-btn{
  background:#B40404;
  dispaly:inline-block;
  width:100%;
  font-size:16px;
  height:50px;
  color:#fff;
  text-decoration:none;
  border:none;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}

.link{
  text-decoration:none;
  color:#9D8E79;
  display:block;
  text-align:right;
  font-size:12px;
  margin-bottom:15px;
}
.link:hover{
  text-decoration:underline;
  color:#8C918F;
}
.alert{
  display:none;
  font-size:12px;
  color:#f00;
  float:left;
}












